.textShadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navActive {
    position: relative;
}

.navActive::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background-color: #eddfd0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
}

.navActive:hover::after {
    transform: translateX(-50%) scaleX(1.3);
}

.navMob {
    position: relative;
}

.navMob::after {
    content: '';
    display: block;
    width: 24px;
    height: 1px;
    background-color: #827161;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease-in-out;
}

.navMob:hover::after {
    transform: translateX(-50%) scaleX(1.3);
}

.tint {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(147, 130, 112, 0.7),
        rgba(147, 130, 112, 0)
    );
    filter: brightness(0.5);
}

@media screen and (min-width: 640px) {
    .tint {
        background: linear-gradient(
            to right,
            rgba(147, 130, 112, 0.7),
            rgba(147, 130, 112, 0)
        );
        filter: brightness(1);
    }
}

.emailUnderline {
    width: 400px;
    height: 20px;
    border-bottom: 1px solid rgba(237, 223, 208, 0.5);
}

.footerLine {
    margin-left: 80px;
    width: calc(100% - 160px);
    height: 1px;
    background: #eddfd0;
    opacity: 0.5;
}

@media screen and (max-width: 640px) {
    .footerLine {
        margin-left: 3vw;
        width: calc(100% - 6vw);
    }
}

.textShadow {
    text-shadow: 1px 1px 20px black;
}
